<div class="hover_bkgr_fricc">
	<span class="helper"></span>
	<div>
		<div class="popupCloseButton">x</div>
		<h4>Username:</h4>
		<input id="usernamesShare" type="text" name="usernames">
		<button id="shareButton" type="button" name="share">Share</button>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Language</th>
			<th>Content</th>
			<th>Open</th>
			<th>Share Code</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each codes}}
		<tr>
			<td>{{this.Language}}</td>
			<td>{{this.Body}}</td>
			<td><a href="/user/?codeid={{this._id}}">Load into Editor</a></td>
			<input type="text" style="display:none" name="body" value={{this.Body}}>
			<td><button class="trigger_popup_fricc btn btn-dark" onclick="shareCode('{{this._id}}')">Share Code</button></td>
			<td><button class="btn btn-dark" onclick="deleteRecord('{{this._id}}')">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>

<script>
	$(window).on("load", function () {
		$('.popupCloseButton').click(() => {
			$('.hover_bkgr_fricc').hide();
		});
	});

	function deleteRecord(id){
		$.ajax({
			type: 'get',
			headers: { 'Authorization': 'Bearer '+localStorage.getItem('token') },
			url: '/user/delete/?id='+id
		}).done(function(data){
			location.reload();
		});
	}

	function shareCode(id){
		$('.hover_bkgr_fricc').show();
		$('#shareButton').click(()=>{
			$.ajax({
				type: 'post',
				headers: { 'Authorization': 'Bearer '+localStorage.getItem('token') },
				url: '/user/share/?id='+id,
				data: {
					'usernames': $('#usernamesShare').val()
				}
			}).done(function(data){
				$('.hover_bkgr_fricc').hide();
				alert(data);
			});
		});
		return true;
	}

</script>

<style>
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
</style>